/* TYPOGRAPHY */
/* ___________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* 
font-family: "Playfair Display",serif;

font-family: "Rubik",serif;
 */


/* VARIABLES */
/* ___________________________________ */

:root {
    --text:#141414;
    --background: #fff;
    --cta: #008FFC;
    --sunMoon: #FFE96A;
    --footer: #fff;
}

.darkMode {
    --text: #fff;
    --background: #1B262C;
    --cta: #008FFC;
    --sunMoon: #FFE96A;
    --footer: #36454F;
}


/* GENERAL STYLING */
/* ___________________________________ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Playfair Display", serif;
}

p {
font-family: "Rubik", serif;
color: var(--text);
}

h1 {
    text-align: center;
    color: var(--text);
}

body {
    background: var(--background);
}



/* HER STYLES INDEX.HTML */







































































































































































































/* HER STYLES INFO.HTML */
/* https://fontawesome.com/icons/coins?f=classic&s=solid */
/* https: //fontawesome.com/icons/calendar-day?f=classic&s=solid  */
/* https: //fontawesome.com/icons/handshake-simple?f=classic&s=solid */

.info_page {
    padding: 15px;
}


.info_faq i {
    font-size: 2rem;
    color: var(--text);
    width: 30px;
}

.info_faq1 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 2rem;
}

.info_faq2 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 2rem;
}

.info_faq2 i {
    transform: rotate(25deg);
}

.info_faq3 {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 2rem;
}

.info_faq {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.info_faq p {
    /* margin: 0; */
    padding-inline: 0.8rem;
    color: var(--text);
}

.info_page h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--text);
}

.info_faq h3 {
    padding-inline: 0.8rem;
    font-weight: 700;
    color: var(--text);
}

.info_om_os p {
    margin-bottom: 10px;
    color: var(--text);
}

.info_nyhedsbrev p {
    margin-bottom: 1rem;
    color: var(--text);
}

/* Info side - Nyhedsbrev CTA */
.nyhedsbrev_submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
    gap: 1px;
}

.nyhedsbrev_submit input {
    background-color: #d9d9d9;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.nyhedsbrev_submit button {
    width: 175px;
    margin: 5px;
    padding: 4px;
    background-color: #008ffc;
    border-radius: 5px;
    color: white;
    padding: 5px;
}






































































































































































































/* HER STYLES PROGRAM.HTML */




header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

header i {
    color: var(--sunMoon);
    font-size: 2rem;
    text-shadow: 1px 1px 7px black;
}



#themeSwitch i:last-child{
   display: none;
}

.darkMode #themeSwitch i:first-child{
    display: none;
}

.darkMode #themeSwitch i:last-child{
    display: block;
}



#themeSwitch {
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}



