/* TYPOGRAPHY */
/* ___________________________________ */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* 
font-family: "Playfair Display",serif;

font-family: "Rubik",serif;
 */


/* VARIABLES */
/* ___________________________________ */

:root {
    --darkModeBlue: #001C2E;
    --cta: #008FFC;
    --lightDarkmode: #FFE96A;

}


/* GENERAL STYLING */
/* ___________________________________ */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Playfair Display", serif;
}

p {
font-family: "Rubik", serif;
}





/* HER STYLES INDEX.HTML */







































































































































































































/* HER STYLES INFO.HTML */







































































































































































































/* HER STYLES PROGRAM.HTML */



.program {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.program img {
    width: 100%;
}

.program div {
position: relative;
}

.program h6 {
    position: absolute;
    bottom: 50px;
    left: 10px;
    color: white;
    font-size: 1.5rem;
}

.program p {
    position: absolute;
    bottom: 30px;
    left: 10px;
    color: white;
    font-size: 1rem;
}